/* AdminHome.css */

/* Container for the admin home page */
.admin-home {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Cards row: 3 columns in one row */
.dashboard-cards-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

/* Individual card style */
.card {
  padding: 20px;
  background: #f1f5f9;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(249, 249, 249, 0.1);
}

/* Charts container */
.charts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Pie chart container */
.chart {
  width:90%;   /* take 50% of  vailable width on large screens */
  max-width:800px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .dashboard-cards-row {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .chart {
    width: 60%;
    max-width: 500px;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .dashboard-cards-row {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .chart {
    width: 90%;
    max-width: 400px;
    padding: 10px;
  }
}
